@import url('reset.css');

body {
	width: 1240px;
	margin: 0 auto;
	font-family: 'Comfortaa', cursive;
	padding-right: 20px;
	padding-left: 20px;
	color: dimgray;
}

h1 {
	font-size: 18px;
	text-align: center;
	padding: 5px;
	margin: 10px;
}

p {
	font-size: 14px;
	padding: 5px;
	margin: 10px;
	padding: 5px;
}

div {
	margin-bottom: 30px;
}

#result-string {
	display: flex;
	flex-flow: column wrap;
	width: 700px;
	min-height: 100px;
	padding: 5px;
	margin: 0 auto;
	background: rgb(250, 128, 114);
	background: -moz-linear-gradient(60deg, rgb(250, 128, 114) 7%, rgb(255, 160, 122) 57%);
	background: -webkit-linear-gradient(60deg, rgb(250, 128, 114) 7%, rgb(255, 160, 122) 57%);
	background: -o-linear-gradient(60deg, rgb(250, 128, 114) 7%, rgb(255, 160, 122) 57%);
	background: -ms-linear-gradient(60deg, rgb(250, 128, 114) 7%, rgb(255, 160, 122) 57%);
	background: linear-gradient(150deg, rgb(250, 128, 114) 7%, rgb(255, 160, 122) 57%);
}

.form {
	width: 698px;
	min-height: 105px;
	margin: 0 auto;
	background: white;
}

.form input[type=text] {
	width: 300px;
	height: 20px;
	margin: 10px;
	padding: 5px;
	border: 1px solid silver;
	background-color: white;	
	border-radius: 2px;
	font-size: 12px
}

.form input[type=text]:focus {
	border-color: #ff63476e;
    outline: none;
    padding: 2.5px;
}

.form input[type=text]:hover {
	border: 1px solid darksalmon;
	border-radius: 5px;
}

.form button[type=button] {
	font-family: 'Comfortaa', cursive;
	padding: 5px;
	border: 1px solid silver;
	background-color: white;
	border-radius: 2px;
	color: gray;
}

.form button[type=button]:hover {
	border: 1px solid darksalmon;
	background-color: seashell;
	border-radius: 5px;
	color: #252525;	
}

.form button[type=button]:focus {
	border: 1px solid darksalmon;
	border-radius: 5px;
	outline: none;
}

.show {
	height: 20px;
	margin: 5px;
	padding: 5px;
	font-size: 16px;
	color: black;
}

.comparison {
	display: block;
	font-family: 'Comfortaa', cursive;
	padding: 5px;
	border: 1px solid silver;
	background-color: white;
	border-radius: 2px;
	color: gray;
	margin: 0 auto;
}

.comparison:hover {
	border: 1px solid darksalmon;
	background-color: seashell;
	border-radius: 5px;
	color: #252525;	
}

.array-comparison {
	margin-top: 30px; 
	margin-bottom: 30px;
}

.comparison:focus {
	border: 1px solid darksalmon;
	border-radius: 5px;
	outline: none;
}

.for-border {
	border: 5px solid peachpuff;
}

.array-tool{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: 5px;
	padding: 5px;
}

.array-one {
	margin: 5px;
	padding: 5px;
}

.array-two {
	margin: 5px;
	padding: 5px;
}

.resut-array {
	margin: 5px;
	padding: 5px;
}

.tool-description {
	margin: 5px;
	padding: 5px;
}

textarea[type=text] {
	outline: none;
	margin: 5px;
	padding: 5px;
	border: 1px solid silver;
	background-color: white;	
	border-radius: 2px;
	font-size: 12px
}

textarea [type=text]:focus {
	border-color: #ff63476e;
    outline: none;
    padding: 2.5px;
}

textarea[type=text]:hover {
	border: 1px solid sandybrown;
	border-radius: 5px;
}

transition-group {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.result-item {
  display: block;
}

.result-item p{
  margin: 5px;
}

.result-enter-active, .result-leave-active {
  transition: all 2s;
}
.result-enter, .result-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container div {
	margin: 25px;
	padding: 5px;
	border: 0.5px solid bisque;
}

.counting {
	margin-top: 20px;
}

#counting-characters {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border: 5px solid sandybrown;
}

span {
	display: block;
	font-size: 13px;
	padding: 5px;
}

.span-title {
	font-weight: bold;
}

.span-text {
	font-size: 15px;
	color: black;
}